@import "./layout.css";
@import "./header.css";
@import "./images.css";
@import "./media.css";
@import "./content.css";
@import "/.footer.css";

body {
    background-image: url(https://cdn.pixabay.com/photo/2014/12/02/02/44/bokeh-553439_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.card {
    border: 2px solid gray;
    padding: 15px;
    height: 375px;
    color:rgb(30, 58, 136);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-button {
    background-color: royalblue;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
}