.title {
    font-size: 40px;
    font-family: cursive;
    font-style: italic;
    color:rgb(5, 5, 5);
    padding: 15px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    color: rgb(53, 48, 48);
}
.topnav {
    overflow: hidden;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-width: 50%;
}
.topnav a {
    color:rgb(54, 53, 53);
    font-size: 28px;
    font-family: monospace;
    padding: 10px 10px;
}
.topnav a:hover {
    opacity: 0.5;
}